*foreground: #dadbc7
!*background: #292929
!*customization: -color
URxvt*depth: 32
*background: #282c34
!*background: [80]#282c34
.cursorBlink: true
*boldMode: false
*termName: xterm-256color
URxvt*faceName: Inconsolata for Powerline
URxvt*font: xft:Inconsolata for Powerline-9
URxvt*scrollBar: false
URxvt*faceSize: 12
URxvt*Xft.dpi: 88
*selectToClipboard: true


urxvt.pointerColor: #9dd90e
urxvt.cursorColor: #dadbc7
!urxvt.cursorColor2: #292929
urxvt.cursorColor2: #282c34

URxvt.perl-lib : /home/ben/.urxvt/perl/
URxvt.perl-ext-common: default,matcher,resize-font,fullscreen
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 2
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?& @#-]*[\\w/-]

URxvt.resize-font.bigger: M-plus
URxvt.resize-font.smaller: M-minus
URxvt.resize-font.reset: M-equal
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.iconFile: /usr/share/icons/Adwaita/48x48/apps/utilities-terminal.png 

!black
!*color0: #292929
*color0: #282c34
*color8: #666666
!red
*color1: #E84F4F
*color9: #D23D3D
!green
*color2: #B7CE42
*color10: #BDE077
!yellow
*color3: #FEA63C
*color11: #FFE863
!blue
*color4: #66A9B9
*color12: #AACCBB
!magenta
*color5: #B7416E
*color13: #E16A98
!cyan
*color6: #6D878D
*color14: #42717B
!white
*color7: #CCCCCC
*color15: #FFFFFF
!orange
*color16: #FF8349
*color17: #FF5100
!blue light
*color18: #6CCFFF
*color19: #49C3FF
!yellow light 
*color20: #E3FD4D
*color21: #E1FF30
!black AGAIN
!*color0: #292929
*color22: #282c34
*color23: #666666

