*foreground: #dadbc7
!*background: #292929
*background: #282c34
.cursorBlink: true
*boldMo6e: false
*termName: xterm-256color
*faceName: Inconsolata for Powerline
*faceSize: 10
Xft.dpi: 96

*selectToClipboard: true


urxvt.pointerColor: #9dd90e
urxvt.cursorColor: #dadbc7
!urxvt.cursorColor2: #292929
urxvt.cursorColor2: #282c34

URxvt.perl-lib : ~/.urxvt/perl/
URxvt.perl-ext-common: default,matcher,fontsize
URxvt.urlLauncher: chromium-browser
URxvt.matcher.button: 2
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

URxvt.keysym.M-plus: perl:font-increase
URxvt.keysym.M-minus: perl:font-decrease
URxvt.keysym.M-equal: perl:font-reset

!black
!*color0: #292929
*color0: #282c34
*color8: #666666
!red
*color1: #E84F4F
*color9: #D23D3D
!green
*color2: #B7CE42
*color10: #BDE077
!yellow
*color3: #FEA63C
*color11: #FFE863
!blue
*color4: #66A9B9
*color12: #AACCBB
!magenta
*color5: #B7416E
*color13: #E16A98
!cyan
*color6: #6D878D
*color14: #42717B
!white
*color7: #CCCCCC
*color15: #FFFFFF
