*foreground: #dadbc7
!*background: #292929
!*customization: -color
*background: #282c34
.cursorBlink: true
*boldMo6e: false
*termName: xterm-256color
*faceName: Inconsolata for Powerline
URxvt*font: xft:Inconsolata for Powerline-12
URxvt*scrollBar: false
*faceSize: 10
Xft.dpi: 96

*selectToClipboard: true


urxvt.pointerColor: #9dd90e
urxvt.cursorColor: #dadbc7
!urxvt.cursorColor2: #292929
urxvt.cursorColor2: #282c34

URxvt.perl-lib : ~/.urxvt/perl/
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 2
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?& @#-]*[\\w/-]

URxvt.resize-font.bigger: M-plus
URxvt.resize-font.smaller: M-minus
URxvt.resize-font.reset: M-equal

!black
!*color0: #292929
*color0: #282c34
*color8: #666666
!red
*color1: #E84F4F
*color9: #D23D3D
!green
*color2: #B7CE42
*color10: #BDE077
!yellow
*color3: #FEA63C
*color11: #FFE863
!blue
*color4: #66A9B9
*color12: #AACCBB
!magenta
*color5: #B7416E
*color13: #E16A98
!cyan
*color6: #6D878D
*color14: #42717B
!white
*color7: #CCCCCC
*color15: #FFFFFF
!orange
*color16: #FF8349
*color17: #FF5100
!blue light
*color18: #6CCFFF
*color19: #49C3FF
!yellow light 
*color20: #E3FD4D
*color21: #E1FF30

